footer {
    padding: 50px 100px;
    display: flex;
    justify-content: space-evenly;

}

footer ul {
    display: flex;
    flex-wrap: wrap;
}
footer ul li {
    list-style-type: none;
    font-size: 12px;
    margin-right: 20px;
    color: #00376b;
    font-weight: 700;
}

footer div {
    font-size: 12px;
    font-weight: 700;
    color: #8e8e9c;
}